<div class="grid sm:grid-cols-1 gap-y-36 p-4">
    <div class="grid sm:grid-cols-1 gap-y-3 mt-10">
        <input type="text" [(ngModel)]="songName" class="rounded-lg text-2xl p-2 ms-[210px] w-[70%]" placeholder="Enter song name....">    
        <button class="text-2xl rounded-lg bg-black text-white px-12 py-2 justify-self-center" (click)="fetchSong()">search</button>
    </div>
    <div class="p-4 text-center font-semibold">
        <h1 class="text-7xl  text-white">
           "Search It. Play It. <span class="text-red-500">Love It"</span>
        </h1>
        

    </div>

</div>