<div class="grid gap-y-36 p-4" @fadeIn>
  <!-- Search input + button wrapper -->
  <div class="flex flex-col sm:flex-row items-center justify-center gap-4 mt-10 w-full">
    <input
      type="text"
      [(ngModel)]="songName"
      class="rounded-lg text-xl p-3 w-full sm:w-[60%] max-w-xl"
      placeholder="Enter song name..."
    />
    <button
      class="text-xl rounded-lg bg-black text-white px-7 py-3"
      (click)="fetchSong()"
    >
      Search
    </button>
  </div>

  <!-- Title -->
  <div class="p-4 text-center font-semibold">
    <h1 class="text-4xl sm:text-6xl lg:text-7xl text-white">
      "Search It. Play It. <span class="text-red-500">Love It"</span>
    </h1>
  </div>
</div>
