    <!-- main container carring thumbnail and text controls  -->
    <div class= "bg-k-300 flex justify-center items-center p-3 h-full">
    <div class="flex flex-col justify-center items-center mt-8 gap-y-9">
      <img class="w-[67%] h-[440px] rounded-xl" [src]="songData.thumbnail" alt="thumbnail">
    <!-- //seek bar  -->
     <!-- <input type="file" (change)="loadLocalSong($event)"> -->
    <div class="flex space-x-1 w-[80%] mt-8 px-2">
        <input 
        type="range" 
        min="0"
        [max]="duration"   
        [(ngModel)]="currentTime"  
        (input)="seekTo($event)"
        class="w-full accent-pink-500  bg-gray-400 rounded-lg cursor-pointer"
        >
        <p class="text-white">{{ formatTime(currentTime) }}</p>
        <!-- <p >00:00</p> -->

      </div>
    </div>
    <!-- the text container handling the controls and seek bar -->
    <div class="flex-1 flex flex-col space-y-44 mt-2 items-center">
      <div class="text-center space-y-1">
        <h1 class="text-5xl text-yellow-50">{{songData.title | uppercase }}</h1>
        <h2 class="text-pink-500">Artist-{{songData.artist}}</h2>
      </div>
      <div class="flex flex-col justify-center items-center p-2  text-white">
        <!-- prev control  -->
         <div class="flex justify-center items-center space-x-4 mb-2">
        <lucide-icon name="StepBack" class="w-8 h-8 cursor-pointer"></lucide-icon>
        <!-- play / pause  -->
        <div  class="bg-pink-500 rounded-full p-2">
          <lucide-icon *ngIf="!isPlaying" (click)="play()" name="Play" class="w-8 h-8 cursor-pointer hover:drop-shadow-[0_0_6px_pink]"></lucide-icon>
          <lucide-icon  *ngIf="isPlaying" (click)="pause()" name="Pause" class="w-8 h-8 cursor-pointer hover:drop-shadow-[0_0_6px_pink]"></lucide-icon>
        </div>
        <!-- forword control  -->
        <lucide-icon name="StepForward" class="w-8 h-8 cursor-pointer"></lucide-icon>
      </div>    
              <div class="flex cursor-pointer space-x-1">
                  <lucide-icon *ngIf="currentVlolume > 0" name="Volume1"></lucide-icon>
                  <lucide-icon *ngIf="currentVlolume == 0" name="VolumeX"></lucide-icon>
                  <input 
                  type="range"
                  min="0"
                  [max]="maxVolume"
                  [value]="currentVlolume"
                  class="w-[70%] accent-pink-500  bg-gray-400 rounded-lg cursor-pointer"
                  >
              </div>
      </div>
    </div>
  </div>